body {
  margin: 0px;
}

.input {
  background-color: rgb(37, 50, 75);
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.button {
  background-color: #282c34;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list {
  display: flex;
}
.task {
  padding-left: 10px;
  width: 100%;
  display: flex;
}
.taskname {
  text-align: left;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.taskedit {
  margin: 10px;
  text-align: end;
  min-width: 150px;
}
